<div class="  w-100 ">
  <div class="row">
    <div class="col-6 m-0  h-100">
      <div class="row " style="margin-left:1%" >
        <div class="col-2"><img src="../../../assets/Images/Maveric-Logo.png" height="22px" width="82px"></div>
        <div class="col  font-weight-bold" style="margin-top:6px">Idea Dashboard</div>
      </div>
     <div style="margin-left:3%">
      <div class="mt-2  pl-3 " style="margin-left:2%">
        <h3 class="pl-3">Login</h3>
        <p>Login to your account to post your ideas & project information.</p>
       </div>
        <div class="mt-2">
          <form (submit)="login()">
            <div class="form-group m-3">
              <label for="Email" >Email</label>
              <input type="email" name="email" class="form-control mt-1" id="Email" placeholder="First Name" [(ngModel)]='user.email'>
            </div>
            <div class="form-group m-3">
                <label for="Password">Password</label>
                <input type="password" name="password" class="form-control mt-1" id="Password"  placeholder="Password"  [(ngModel)]='user.password'>
            </div>

            <!-- <div class="form-group form-check m-3">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">By creating an account you agree to the T&C and our Privacy Policy</label>
            </div> -->
            <button type="submit" class="btn btn-primary w-100" style="background-color:#653FB1">Login</button>
          </form>
        </div>
     </div>

      <div class="mt-2" >
        <p class="text-center"> Don’t have an account? <a routerLink='/signup'>Signup</a></p>
      </div>




    </div>
    <div class=" col-6 m-0  h-100">
      <div class="bg">
        <img  src="../../../assets/Images/Group 19117.png"  alt="idea">
      </div>

    </div>


  </div>

</div>
