 <div>
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div style="margin-top:-13px">
        User


      </div>
    </div>
  </nav>


<div class="border h-25 w-100" style="background: linear-gradient(213.64deg, #653FB1 12.89%, #361873 93.54%);color:white">
  <div class="d-flex justify-content-between">
    <div class="p-2 " >DashBoard</div>
    <div class="p-2">Last login: [Today] 06 Oct, 2022 @ 18:23</div>
  </div>
  <div class="mt-2 p-2">
    <h3>DashBoard</h3>
  </div>
  <div class="mt-2 p-2 w-50">
    <p>See all the ideas and projects posted by Maveric members. You can create a post for idea or project by going to that category and clicking on the ‘+’ icon.</p>

  </div>
</div>


<div>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon"><img src="../../../assets/Images/lamp-light-bulb-icon-vector-20716081-e1562701213740-294x300.jpg" height="40" width="40"></mat-icon>
        Idea
      </ng-template>
      Content 1
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon"><img src="../../../assets/Images/Project.svg" height="30" width="30  "></mat-icon>
        Project
      </ng-template>
      Content 2
    </mat-tab>


  </mat-tab-group>

</div>
</div>


<!-- <app-sidebar></app-sidebar> -->
